{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}{{ 'entry.new.title'|trans({}) }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ 'entry.new.title'|trans({}) }}</h3>
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-6">
                    {% include '@grr_front/entry/form/_form_entry.html.twig' %}
                </div>
                <div class="col-6">
                    {% include '@grr_front/entry/form/_form_periodicity.html.twig' %}
                </div>
            </div>
            <button class="btn btn-primary" type="submit"><i
                        class="far fa-save"></i> {{ 'label.btn.save'|trans({}) }}</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('grr_front_entry_index') }}"><i
                        class="fas fa-arrow-left"></i> {{ 'label.btn.cancel'|trans({}) }}</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/grr/js/periodicity_options_weeks.js') }}"></script>
    <script src="{{ asset('bundles/grr/js/full_day.js') }}"></script>
    {% include '@grr_front/_select_room_js.html.twig' with {'isRestricted' : true} %}
{% endblock %}
