{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'authorization.area.title'|trans }}{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ 'authorization.area.new.title'|trans }} {{ area }}</h3>
        </div>
        <div class="card-body">
            {{ include('@grr_admin/authorization/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('grr_authorization_area_show',{'id': area.id}) }}">
                <i class="fas fa-arrow-left"></i> {{ 'label.btn.cancel'|trans({}) }}</a>
        </div>
    </div>
{% endblock %}
