{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'user.new.title'|trans({}) }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ 'user.new.title'|trans({}) }}</h3>
        </div>
        <div class="card-body">
            {{ include('@grr_admin/user/_form_new.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('grr_admin_user_index') }}"><i
                        class="fas fa-arrow-left"></i> {{ 'label.btn.cancel'|trans({}) }}</a>
        </div>
    </div>
{% endblock %}
