{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ user.email }}{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ 'user.roles.title'|trans }} {{ user.email }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.roles) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                {{ 'label.btn.save'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="alert-info alert">
        Un utilisateur actif peut réserver suivant ses droits attribués
        <br />
    </div>
    <br/>
    <a href="{{ path('grr_admin_user_show',{'id': user.id}) }}"><i
                class="fas fa-arrow-left"></i> {{ 'label.btn.cancel'|trans({}) }}</a>

{% endblock %}
