{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ user.email }}</h3>
        </div>
        <div class="card-body">

            {% include '@grr_admin/user/_actions.html.twig' %}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'user.name'| trans }}</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'user.firstName'| trans }}</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                  <tr>
                    <th>{{ 'user.username'| trans }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'user.email'| trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'user.isEnabled'| trans }}</th>
                    <td>{{ user.isEnabled }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.user.roles.select'| trans }}</th>
                    <td>
                        {{ user.niceRoles|join(', ') }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'user.area_default'| trans }}</th>
                    <td>{{ user.area }}</td>
                </tr>
                <tr>
                    <th>{{ 'user.room_default'| trans }}</th>
                    <td>{{ user.room }}</td>
                </tr>
            </table>
        </div>
    </div>

    {{ include('@grr_admin/user/_delete_form.html.twig') }}
{% endblock %}
