<ul class="navbar-nav mr-au2to ml-2auto mr-5">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">{{ app.user.email }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('grr_account_show') }}">
                <i class="ti ti-users-cog"></i> {{ 'menu.user.account'|trans }}
            </a>
            <a class="dropdown-item" href="{{ path('app_logout') }}" title="{{ 'menu.user.logout'|trans }}">
                <i class="ti ti-sign-out-alt"></i> {{ 'menu.user.logout'|trans }}
            </a>
        </div>
    </li>
</ul>
