{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}{{ 'login.title'|trans() }}{% endblock %}

{% block body %}
    <div class="text-center">

        <div class="w-75 m-auto">

            {% if title %}
                <h2>{{ title }}</h2>
            {% endif %}

            {% if compagny %}
                {{ compagny }}
            {% endif %}

            {% if message %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}

        </div>

        <main class="form-signin">

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form method="post" action="{{ path('app_login') }}">
                <img class="mb-4" src="{{ asset('bundles/grr/images/totem_grr.png') }}"
                     alt="Adl" width="90"                     >
                <h1 class="h3 mb-3 fw-normal">Authentifiez-vous</h1>

                <div class="form-floating">
                    <input type="text" value="{{ last_username }}" name="username" class="form-control"
                           id="floatingInput" placeholder="jdupont" autofocus>
                    <label for="floatingInput">{{ 'login.username'|trans() }}</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" name="password" class="form-control" id="floatingPassword"
                           placeholder="Mot de passe">
                    <label for="floatingPassword">{{ 'login.password'|trans() }}</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">{{ 'label.btn.login'|trans() }}</button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>

        </main>
    </div>
{% endblock %}
