{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.grr_title_home_page) }}
{{ form_row(form.grr_message_home_page) }}
{{ form_row(form.grr_company) }}
{{ form_row(form.grr_webmaster_email) }}
{{ form_row(form.grr_technical_support_email) }}
{{ form_row(form.grr_nb_calendar) }}
{{ form_row(form.grr_message_accueil) }}
{{ form_row(form.grr_begin_bookings) }}
{{ form_row(form.grr_end_bookings) }}
{{ form_row(form.grr_default_language) }}
{{ form_row(form.grr_send_always_mail_to_creator) }}
{{ form_row(form.grr_area_default) }}

<button class="btn btn-primary"><i
            class="far fa-save"></i> {{ 'label.btn.save' | trans({}) }}</button>
{{ form_end(form) }}
