{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'settings.title'|trans }}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h3>{{ 'settings.title'|trans }}</h3>
                </div>
                <div class="col-4">
                    <a class="float-right btn btn-primary" href="{{ path('grr_admin_setting_edit') }}">
                        <i class="far fa-edit"></i> {{ 'label.setting.edit'| trans({}) }}</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                {{ settings|raw }}
            </table>

        </div>
    </div>

{% endblock %}
