<script>
    let btn = document.querySelector('.btnDelete');
    btn.addEventListener('click', () => {
        document.querySelector("#tokenauth").value = btn.dataset.token;
        document.querySelector("#idauth").value = btn.dataset.id;
    });
</script>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{{ 'delete.confirm'|trans({}) }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ 'authorization.delete.confirm'|trans() }}
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ path('grr_authorization_delete') }}">

                    <input type="hidden" name="idauth" id="idauth" value="">
                    <input type="hidden" name="_tokenauth" id="tokenauth" value="">
                    <input type="hidden" name="_urlback" id="_urlback" value="{{ url_back }}">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{{ 'label.btn.cancel'|trans({}) }}</button>
                    <button type="submit" class="btn btn-danger">{{ 'label.btn.delete'|trans({}) }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
