<div {{ stimulus_controller('authorization') }}>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div {{ stimulus_controller('area',{isRestricted: 0, url: path('grr_ajax_getrooms'), urlCurrent: app.request.requestUri}) }}>
        {% if form.area is defined %}
            {{ form_widget(form.area, {'attr': {'data-action':'area#updateRooms'} }) }}
            {{ form_help(form.area) }}
            {{ form_errors(form.area) }}
        {% endif %}

        {{ form_row(form.role) }}

        {% if form.rooms is defined %}
            {{ form_widget(form.rooms, {'attr': {'data-area-target':'rooms'} }) }}
            {{ form_help(form.rooms) }}
            {{ form_errors(form.rooms) }}
        {% endif %}
    </div>

    {% if form.users is defined %}
        {{ form_row(form.users) }}
    {% endif %}

    <button class="btn btn-primary" type="submit"><i
                class="ti ti-device-floppy"></i> {{ button_label|default('label.btn.save')|trans({}) }}</button>

    {{ form_end(form) }}
</div>
