<h3 class="text-success">{{ 'area.rooms.title'|trans({}) }}</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{ 'room.name'|trans }}</th>
        <th>{{ 'room.orderDisplay'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
        <tr>
            <td><a href="{{ path('grr_admin_room_show', {'id': room.id}) }}">{{ room.name }}</a></td>
            <td>{{ room.orderDisplay }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">{{ 'records.not_found'| trans({}) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>