{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ area.name }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
           <h2>{{ area.name }}</h2>
        </div>
        <div class="card-body">

            {% include '@grr_admin/area/_actions.html.twig' %}

            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th class="w-75">
                                {{ 'area.isRestricted'|trans }}
                            </th>
                            <td>{{ area.isRestricted }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'area.orderDisplay'|trans }}</th>
                            <td>{{ area.orderDisplay }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'area.weekStart'|trans }}</th>
                            <td>{{ area.weekStart | grrWeekDaysName }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'area.startTime'|trans }}</th>
                            <td>{{ area.startTime }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'area.endTime'|trans }}</th>
                            <td>{{ area.endTime }}</td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'area.timeInterval'|trans }}<br/>
                                <span class="text-muted">{{ 'help.area.timeInterval'|trans }}</span>
                            </th>
                            <td>{{ area.timeInterval }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'area.minutesToAddToEndTime'|trans }}</th>
                            <td>{{ area.minutesToAddToEndTime }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'area.hour_in_24h'|trans }}</th>
                            <td>
                                {{ area.is24HourFormat ? 'Yes'|trans : 'No'| trans }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th class="w-75">{{ 'area.daysOfWeekToDisplay'|trans }}</th>
                            <td>
                                {% for jour in  area.daysOfWeekToDisplay %}
                                    {{ jour | grrWeekDaysName | trans }},
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                {{ 'area.durationMaximumEntry'|trans }}<br/>
                                <span class="text-muted">{{ 'help.area.durationMaximumEntry'|trans }}</span>
                            </th>
                            <td>{{ area.durationMaximumEntry }}</td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'area.durationDefaultEntry'|trans }}<br/>
                                <span class="text-muted">{{ 'help.area.durationDefaultEntry'|trans }}</span>
                            </th>
                            <td>{{ area.durationDefaultEntry }}</td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'area.maxBooking'|trans }}<br/>
                                <span class="text-muted">{{ 'help.area.maxBooking'|trans }}</span>
                            </th>
                            <td>{{ area.maxBooking }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {% include '@grr_admin/area/_list_rooms.html.twig' %}

        </div>
    </div>

    {{ include('@grr_admin/area/_delete_form.html.twig') }}
{% endblock %}
