<a href="{{ path('grr_admin_room_edit', { 'id': room.id }) }}" role="button"
   class="btn btn-primary"><i class="far fa-edit"></i> {{ 'label.btn.edit'|trans({}) }}</a>

<a href="{{ path('grr_authorization_show_by_room', { 'id': room.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-user-shield"></i> {{ 'label.btn.authorization'|trans({}) }}</a>

<a href="{{ path('grr_admin_room_edit', { 'id': room.id }) }}" role="button"
   class="btn btn-primary" target="apercu"><i class="far fa-eye"></i> {{ 'label.btn.see'|trans({}) }}</a>

<a href="{{ path('grr_admin_area_show',{'id': room.area.id}) }}" class="btn btn-primary" role='button'><i
            class="fas fa-list"></i>
    {{ 'label.btn.room.back_to_area'|trans({}) }}
</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> {{ 'label.btn.delete'|trans({}) }}
</button>
<br/>
<br/>