{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>{{ room.name }}</h2>
        </div>
        <div class="card-body">
            {{ include('@grr_admin/room/_form.html.twig', {'button_label': 'label.btn.save'}) }}
        </div>
    </div>

    <br/>
    <a href="{{ path('grr_admin_area_show',{'id': room.area.id}) }}">
        <i class="ti ti-arrow-left"></i> {{ 'label.btn.cancel'|trans({}) }}</a>

{% endblock %}
