{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>{{ room.name }}</h2>
        </div>
        <div class="card-body">

            {% include '@grr_admin/room/_actions.html.twig' %}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'room.description'|trans }}</th>
                    <td>{{ room.description }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.capacity'|trans }}<br/>
                        <span class="text-muted">{{ 'room.capacity.help'|trans }}</span>
                    </th>
                    <td>{{ room.capacity }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.maximumBooking'|trans }}<br/>
                        <span class="text-muted">{{ 'room.maximumBooking.help'|trans }}</span>
                    </th>
                    <td>{{ room.maximumBooking }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.statutRoom'|trans }}<br/>
                        <span class="text-muted">{{ 'room.statutRoom.help'|trans }}</span>
                    </th>
                    <td>{{ room.statutRoom }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.showFicRoom'|trans }}<br/>
                        <span class="text-muted">{{ 'room.showFicRoom.help'|trans }}</span>
                    </th>
                    <td>{{ room.showFicRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.pictureRoom'|trans }}</th>
                    <td>{{ room.pictureRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.commentRoom'|trans }}</th>
                    <td>{{ room.commentRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.showComment'|trans }}</th>
                    <td>{{ room.showComment }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.delaisMaxResaRoom'|trans }}</th>
                    <td>{{ room.delaisMaxResaRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.delaisMinResaRoom'|trans }}</th>
                    <td>{{ room.delaisMinResaRoom }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.allowActionInPast'|trans }}<br/>
                        <span class="text-muted">{{ 'room.allowActionInPast.help'|trans }}</span>
                    </th>
                    <td>{{ room.allowActionInPast }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.orderDisplay'|trans }}</th>
                    <td>{{ room.orderDisplay }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.delaisOptionReservation'|trans }}<br/>
                        <span class="text-muted">{{ 'room.delaisOptionReservation.help'|trans }}</span>
                    </th>
                    <td>{{ room.delaisOptionReservation }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.dontAllowModify'|trans }}<br/>
                        <span class="text-muted">{{ 'room.dontAllowModify.help'|trans }}</span>
                    </th>
                    <td>{{ room.dontAllowModify }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.typeAffichageReser'|trans }}<br/>
                        <span class="text-muted">{{ 'room.typeAffichageReser.help'|trans }}</span>
                    </th>
                    <td>{{ room.typeAffichageReser }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.moderate'|trans }}<br/>
                        <span class="text-muted">{{ 'room.moderate.help'|trans }}</span>
                    </th>
                    <td>{{ room.moderate }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.quiPeutReserverPour'|trans }}<br/>
                        <span class="text-muted">{{ 'room.quiPeutReserverPour.help'|trans }}</span>
                    </th>
                    <td>{{ room.quiPeutReserverPour }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.activeRessourceEmpruntee'|trans }}</th>
                    <td>{{ room.activeRessourceEmpruntee }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.ruleToAdd'|trans }}<br/>
                        <span class="text-muted">{{ 'room.authorization.help'|trans }}</span>
                    </th>
                    <td>{{ room.ruleToAdd }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ include('@grr_admin/room/_delete_form.html.twig') }}
{% endblock %}
