{{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit"><i class="ti ti-search"></i> {{ 'label.btn.search'|trans({}) }}</button>
{{ form_end(form) }}
