<a href="{{ path('grr_admin_type_entry_edit', { 'id': type_entry.id }) }}" role="button"
   class="btn btn-primary"><i class="far fa-edit"></i> {{ 'label.btn.edit'|trans({}) }}</a>

<a href="{{ path('grr_admin_type_entry_index') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    {{ 'back.to_list'|trans({}) }}
</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> {{ 'label.btn.delete'|trans({}) }}
</button>
<br/>
<br/>