<a class="cal-month-name" href="{{ grrGenerateRouteView(dateSelected, 'monthly') }}">
    <strong>{{ dateSelected.monthName|capitalize }} {{ dateSelected.year }}</strong>
</a>
<a class="cal-month-previous btn-sm btn btn-outline-primary" role="button"
   href="{{ grrGenerateRouteView(dateSelected.subMonth, 'monthly') }}">
    <i class="ti ti-arrow-left"></i>
</a>
<a class="cal-month-next btn btn-sm btn-outline-primary" role="button"
   href="{{ grrGenerateRouteView(dateSelected.addMonth, 'monthly') }}">
    <i class="ti ti-arrow-right"></i>
</a>
<a class="cal-month-today btn btn-sm btn-outline-primary" role="button"
   href="{{ grrGenerateRouteView(today, 'monthly') }}">
    <span class="font-weight-bolder">{{ 'Today' | trans }}</span>
</a>
