{% set classDay = "" %}

{% if dateSelected == day and view == 'daily' %}
    {% set classDay = "border border-success" %}
{% elseif today == day and view == 'monthly' %}
    {% set classDay = "border border-success" %}
{% endif %}

{% if day.isSameMonth(dateSelected) %}
    <a class="btn cal-btn {{ classDay }}" role="button"
       href="{{ grrGenerateRouteView(day, 'daily') }}">{{ day.day }}</a>
{% else %}
    <button type="button" disabled="disabled" class="btn cal-btn {{ classDay }}">{{ day.day }}</button>
{% endif %}
