<!-- TODO https://getbootstrap.com/docs/5.1/examples/dropdowns/ -->
<div class="dropdown-menu-cal p-2 shadow rounded-3 mb-3" id="dropdownCalendar">
    <div class="d-grid gap-1">
        <div class="cal">
            <div class="cal-month">
                {% include '@grr_front/navigation/date_selector/_btns.html.twig' %}
            </div>
            <div class="cal-weekdays text-muted">
                <div class="cal-weekday">{{ 'week.name'|trans[:1] }}</div>
                {% for weekday in weekdays %}
                    <div class="cal-weekday">{{ weekday|trans[:3] }}</div>
                {% endfor %}
            </div>
            <div class="cal-days">
                {% for week in weeks %}
                    {% if week.startDate.weekOfYear == dateSelected.weekOfYear and view == 'weekly' %}
                        {% set class = "border border-success" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}
                    <a class="btn cal-btn {{ class }}" disabled="" href="{{ grrGenerateRouteView(week.startDate, 'weekly') }}"
                       role="button">
                        {{ 'week.initial'|trans({}) }}{{ week.startDate.weekOfYear }}
                    </a>
                    {% for day in week %}
                        {% include '@Grr/front/navigation/date_selector/_cell_day.html.twig' %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
