<!-- TODO https://getbootstrap.com/docs/5.1/examples/dropdowns/ -->
<div class="dropdown-menu2 p-2 shadow rounded-3" style="width: 350px;" id="dropdownCalendar">
    <div class="d-grid gap-1">
        <div class="cal">
            <div class="cal-month">
                <strong class="cal-month-name">
                    <a href="{{ grrGenerateRouteView(dateSelected, 'monthly') }}">
                        {{ dateSelected.monthName|capitalize }} {{ dateSelected.year }}
                    </a>
                </strong>
                <button class="cal-month-previous btn cal-btn" type="button">
                    <a href="{{ grrGenerateRouteView(dateSelected.subMonth, 'monthly') }}">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </button>
                <button class="cal-month-next btn cal-btn" type="button">
                    <a href="{{ grrGenerateRouteView(dateSelected.addMonth, 'monthly') }}">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </button>
                <span class="cal-month-today">
                    <a class="btn btn-outline-primary btn-sm" role="button"
                       href="{{ grrGenerateRouteView(today, 'monthly') }}">
                        <span class="font-weight-bolder">{{ 'Today' | trans }}</span>
                    </a>
                </span>
            </div>
            <div class="cal-weekdays text-muted">
                <div class="cal-weekday">{{ 'week.name'|trans[:1] }}</div>
                {% for weekday in weekdays %}
                    <div class="cal-weekday">{{ weekday|trans[:3] }}</div>
                {% endfor %}
            </div>
            <div class="cal-days">
                {% for week in weeks %}
                    <a class="btn cal-btn" disabled="" href="{{ grrGenerateRouteView(week.startDate, 'weekly') }}"
                       role="button">{{ 'week.initial'|trans({}) }}{{ week.startDate.week }}</a>
                    {% for day in week %}
                        {% if day.isSameMonth(dateSelected) %}
                        <a class="btn cal-btn" role="button"
                           href="{{ grrGenerateRouteView(day, 'daily') }}">{{ day.day }}</a>
                        {% else %}
                            <button type="button" disabled="disabled" class="btn cal-btn">{{ day.day }}</button>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
