<!-- TODO https://getbootstrap.com/docs/5.1/examples/dropdowns/ -->
<div class="dropdown-menu2 p-2 shadow rounded-3" style="width: 350px;" id="dropdownCalendar">
    <div class="d-grid gap-1">
        <div class="cal">
            <div class="cal-month">
                <button class="btn cal-btn" type="button">
                    <a href="{{ grrGenerateRouteView(dateSelected.subMonth, 'monthly') }}">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </button>
                <strong class="cal-month-name">
                    <a href="{{ grrGenerateRouteView(dateSelected, 'monthly') }}">
                        {{ dateSelected.monthName|capitalize }} {{ dateSelected.year }}
                    </a><br/>
                    <a class="btn btn-outline-primary btn-sm" role="button"
                       href="{{ grrGenerateRouteView(today, 'monthly') }}">
                        <span class="font-weight-bolder">{{ 'Today' | trans }}</span>
                    </a>
                </strong>
                <select class="form-select cal-month-name d-none">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option selected="" value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <button class="btn cal-btn" type="button">
                    <a href="{{ grrGenerateRouteView(dateSelected.addMonth, 'monthly') }}">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </button>
            </div>
            <div class="cal-weekdays text-muted">
                <div class="cal-weekday">{{ 'week.name'|trans[:1] }}</div>
                {% for weekday in weekdays %}
                    <div class="cal-weekday">{{ weekday|trans[:3] }}</div>
                {% endfor %}
            </div>
            <div class="cal-days">
                {% for week in weeks %}
                    <a class="btn cal-btn" disabled="" href="{{ grrGenerateRouteView(week.startDate, 'weekly') }}"
                       role="button">{{ 'week.initial'|trans({}) }}{{ week.startDate.week }}</a>
                    {% for day in week %}
                        <a class="btn cal-btn" role="button"
                           href="{{ grrGenerateRouteView(day, 'daily') }}">{{ day.day }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
