<a href="{{ path('grr_account_edit') }}" role="button"
   class="btn btn-primary"><i class="far fa-edit"></i> {{ 'label.btn.edit'|trans({}) }}</a>

<a href="{{ path('grr_account_edit_password') }}" role="button"
   class="btn btn-primary"><i class="fas fa-key"></i> {{ 'form.btn.password'|trans({}) }}</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> {{ 'label.btn.delete'|trans({}) }}
</button>
<br/>
<br/>