{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-6">
        {{ form_row(form.first_name) }}
    </div>
</div>

<div class="row">
    <div class="col-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-6">
        {{ form_row(form.username) }}
    </div>
</div>

<div class="row"{{ stimulus_controller('area', { isRestricted:true, url: path('grr_ajax_getrooms'), urlCurrent: app.request.requestUri}) }}>
    <div class="col-6">
        {{ form_widget(form.area, {'attr': {'data-action':'area#updateRooms'} }) }}
        {{ form_help(form.area) }}
        {{ form_errors(form.area) }}
    </div>
    <div class="col-6">
        {{ form_widget(form.room, {'attr': {'data-area-target':'rooms'} }) }}
        {{ form_help(form.room) }}
        {{ form_errors(form.room) }}
    </div>
</div>

{{ form_row(form.languageDefault) }}

<button class="btn btn-primary"><i
            class="far fa-save"></i> {{ button_label|default('label.btn.save') | trans({}) }}</button>

{{ form_end(form) }}
