<h4 class="text-success">{{ 'preference.email.title'|trans }}</h4>

<table class="table table-bordered table-hover">
    <tbody>
    <tr>
        <th> {{ 'label.preference.email.onCreated'|trans }}</th>
        <td> {{ preference ? preference.onCreated|grrBoolToArrow }}</td>
    </tr>
    <tr>
        <th> {{ 'label.preference.email.onUpdated'|trans }}</th>
        <td> {{ preference ? preference.onUpdated|grrBoolToArrow }}</td>
    </tr>
    <tr>
        <th> {{ 'label.preference.email.onDeleted'|trans }}</th>
        <td> {{ preference ? preference.onDeleted|grrBoolToArrow }}</td>
    </tr>
    </tbody>
</table>
