<div class="d-lg-none d-xl-none d-xxl-none" {{ stimulus_controller('entry', {'url': path('grr_ajax_getentries'), 'area': area.id}) }}>
    <div class="data-grid">
        {% for weekDayName in weekDaysName %}
            <div class="data-cell shadow align-items-center">{{ weekDayName|trans[:3] }}</div>
        {% endfor %}
        {% for week in weeks %}
            {% for day in week.days %}
                <div class="data-cell card align-items-start ">
                    <div class="card-body">
                        {% if day.isSameMonth(firstDay) %}
                            <a href="{{ grrGenerateRouteView(day, 'daily') }}" class="float-end">
                                {{ day.day }}
                            </a>
                            {% set key = day.toDateString %}
                            {% set data = dataDays[key] %} <!-- phpstorm -->
                            {% if data.entries|length > 0 %}
                                <br/>
                                {% set key = day.toDateString %}
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        data-action="entry#getEntries"
                                        data-room="{{ room ? room.id : 0 }}"
                                        data-day="{{ day|date('Y-m-d') }}">
                                    Voir
                                </button>
                            {% endif %}
                        {% else %}
                            <span class="float-end">{{ day.day }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="modal fade" id="reservationsModal" tabindex="-1" role="dialog" aria-labelledby="reservationsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservationsModalLabel">{{ 'entry.index.title'|trans({}) }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div data-entry-target="listentries"></div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
